p { text-align: justify;
       font-family: Comic Sans MS;
      }
    h1 { background-color: #55dd55; }
    h3 { background-color: #318aa3; } 
    #map {
      border: blue solid;
      padding: 5px;
      margin: 10px;
      height: 300px;
      width: 450px;
      background-color: #4ed479;
      color: #9d5ead;
    }
    #map-image {
      width: 100%;
      height: 100%;
    }
    th, td {
      background-color: #e0c475;
      padding: 3px;
    }
    .data {
      color: #b159b3;
    }
